/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001f3f;
    padding: 10px 20px;
}

.navbar .logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Hero Section */
.hero {
    background: url('huanchaca.jpg') no-repeat center center/cover;
    height: 80vh;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.hero .cta {
    background-color: #ff4136;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

/* Calendar section */

/* Estilos de etiqueta*/
body {
    background-color: #daa413;
  }
  
  table {
    background: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    border-collapse: collapse;
    text-align: center;
  }
  
  th {
    background-color: rgba(5, 5, 100, 95);
    height: 35px;
    border-bottom: 1px solid rgb(210, 220, 250);
    color: rgb(120, 120, 120);
  }
  
  td {
    color: rgba(100, 100, 100, 60);
    height: 30px;
    border: 0.5px solid rgba(240, 240, 240, 10);
  }
  
  tfoot {
    font-weight: bold;
  }
  
  /*Pseudo-clases*/
  th:hover {
    background-color: rgba(20, 20, 20, 90);
  }
  
  tr:hover {
    background-color: rgba(15, 25, 25, 90);
  }
  
  /* Estilos de clases*/
  .PrecioTotal:hover,
  .CantidadTotal:hover {
    color: rgb(230, 50, 50);
  }
  
  .Cabecera {
    background-color: rgba(5, 5, 100, 0.99);
    border-radius: 10px;
    height: 15px;
    padding: 2rem;
    margin: 0 25%;
    text-align: center;
    color: white;
  }
  
  a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
  }
  
  footer {
    margin-top: 40px;
    text-align: center;
  }

/* Secciones */
section {
    padding: 40px 20px;
    text-align: center;
}

.sobre {
    background-color: #e67920;
}

.inscripcion form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.inscripcion input, .inscripcion select, .inscripcion button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.miembros form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.miembros input, .miembros button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: #ff5900;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
